Ejercicios

In [12]:
#Importar librearias
import pandas as pd
import os

In [13]:
#Subir datos del excel

df = pd.read_excel('C:\OTMX\Inputs\DATAMARSH-MARZO-EJEMPLO.xlsx')

df.columns

<>:3: SyntaxWarning: invalid escape sequence '\O'
<>:3: SyntaxWarning: invalid escape sequence '\O'
C:\Users\u1165269\AppData\Local\Temp\ipykernel_49780\4068572.py:3: SyntaxWarning: invalid escape sequence '\O'
  df = pd.read_excel('C:\OTMX\Inputs\DATAMARSH-MARZO-EJEMPLO.xlsx')

Index(['AÑO HASTA', 'MES DESDE', 'MES FACTURA', 'NOMBRE AGENCIA',
       'NOMBRE CORTO', 'ESTADO', 'CODIGO GRUPO', 'GRUPO SECUNDARIO',
       'SEGMENTO GRUPO', 'RAMO', 'SUB RAMO', 'JURIDICO',
       'DESCRIPCION FORMA PAGO', 'FRECUENCIA PAGO', 'PORC. COM. COMPARTIDA',
       'COMISION COMPARTIDA', 'TIPO', 'DESCRIPCIÒN CONDUCTO',
       'DESCRIPCIÃ¿N MOTIVO', 'UNIDAD', 'NOMBRE DEL PRODUCTO',
       'NOMBRE DEL PLAN', 'NOMBRE ZONA', 'TIPO MOV.POLIZA', 'TIPO MOVIMIENTO',
       'NUMERO_DE_POLIZA', 'POLIZA', 'SEGMENTO POLIZA', 'FECHA_FACTURA',
       'DESDE', 'HASTA', 'FECHA EMISION', 'ENDOSO', 'PRIMA', 'MONTO',
       'TOTAL_COMISION', 'COMISION_VIDA', 'COMISION', 'SUMA ASEGURADA',
       'PRODUCTO', 'TIPO CANAL', 'CANAL', 'SUBSEGEMENTO', 'PEP',
       'SENIOR RELATIONSHIP', 'GERENTE PLACEMENT',
       'EJECUTIVO MEMBER MANAGEMENT', 'COLOCADO POR', 'SPECIALTY',
       'SUB CATEGORY', 'FECHA SOLICITADO ASEG. ENDOSO',
       'FECHA RECIBIDO ASEG. ENDOSO', 'CALIDAD DE LA EMISIÒN ENDOSO',
       'TIPO REPROCESO', 'RESPONSABLE REPROCESO',
       'FECHA INSTRUCCIÓN NEGOCIO A PLACEMENT BROKER',
       'FECHA ASEGURADORA PIDE DOCUMENTOS', 'FECHA SOLICITUD A ASEGURADORA',
       'FECHA DE RECIBIDO', 'ULTIMA FECHA DE SOLICIITUD A LA ASEGURADORA',
       'CANTIDAD DEVOLUCIONES', 'Company Number', 'Gerente cuenta MMB',
       'DECLARATIVA', 'GBM', 'FRONTING'],
      dtype='object')

In [14]:
#Hacer subconjunto

df = df[['MES DESDE','NOMBRE CORTO','TIPO MOVIMIENTO','NUMERO_DE_POLIZA','MONTO']]

In [16]:
#Hacer estadíticos
df.describe()

        MES DESDE          MONTO
count  152.000000     152.000000
mean     4.460526    3405.835000
std      3.818535   73412.519154
min      1.000000 -603082.200000
25%      2.000000       0.000000
50%      3.000000     276.035000
75%      6.250000     773.455000
max     12.000000  603082.200000

In [17]:
#Nueva columna

df['NUEVA_COL'] = 'EJERCICIO'

In [18]:
#Reemplazar comilla

df['NUMERO_DE_POLIZA'] = df['NUMERO_DE_POLIZA'].str.replace("'","")

In [19]:
#Reenombrar columna

df = df.rename(columns={'NUMERO_DE_POLIZA':'POLIZA'})