CAPACITACIONES PYTHON

Siempre importar las librerías primero

In [44]:
import pandas as pd
import os

Subir archivos de Excel

In [45]:
data = pd.read_excel('C:/Users/u1295560/OneDrive - MMC/Documents/Archivos cap python/DATAMARSH-MARZO.xls') #se coloca la ruta completa incluyendo el nombre de archivo y extensión

Subir CSV

In [46]:
datacsv = pd.read_csv('C:/Users/u1295560/OneDrive - MMC/Documents/Archivos cap python/DATAMARSH-ABRIL.csv', sep=",")

Subir TXT

In [47]:
datatxt = pd.read_csv('C:/Users/u1295560/OneDrive - MMC/Documents/Archivos cap python/anexos_conciliacion_20231018111933.txt', sep=";", encoding='UTF-8')

C:\Users\u1295560\AppData\Local\Temp\ipykernel_24092\2853932932.py:1: DtypeWarning: Columns (0,2,3,12,13,14,15,17,18,20,28,29,30) have mixed types. Specify dtype option on import or set low_memory=False.
  datatxt = pd.read_csv('C:/Users/u1295560/OneDrive - MMC/Documents/Archivos cap python/anexos_conciliacion_20231018111933.txt', sep=";", encoding='UTF-8')

Subir todos los archivos de una carpeta

In [48]:
ruta = 'C:/Users/u1295560/OneDrive - MMC/Documents/Archivos cap python/CONJUNTO'

for archivo in os.listdir(ruta):
    if archivo.endswith('.xlsx') or archivo.endswith('.xls'):
        ruta_archivo = os.path.join(ruta, archivo)

        df = pd.read_excel(ruta_archivo)

        nombre_variable =archivo.replace('.xlsx','').replace('.xls','')
        globals()[nombre_variable] = df

Descripción general de los datos que aparecen como numéricos

In [49]:
DATAMARSH1.describe() #se escribe el dataframe: DATAMARSH1 seguido de .describe()

,AÑO HASTA,MES DESDE,MES FACTURA,GRUPO SECUNDARIO,RAMO,SUB RAMO,FRECUENCIA PAGO,PORC. COM. COMPARTIDA,COMISION COMPARTIDA,POLIZA,...,FECHA SOLICITADO ASEG. ENDOSO,FECHA RECIBIDO ASEG. ENDOSO,TIPO REPROCESO,RESPONSABLE REPROCESO,FECHA INSTRUCCIÓN NEGOCIO A PLACEMENT BROKER,FECHA ASEGURADORA PIDE DOCUMENTOS,FECHA SOLICITUD A ASEGURADORA,FECHA DE RECIBIDO,ULTIMA FECHA DE SOLICIITUD A LA ASEGURADORA,CANTIDAD DEVOLUCIONES
count,2732.000000,2732.000000,2732.000000,0.0,2732.000000,2732.000000,2732.000000,2732.000000,2732.000000,2732.000000,...,153,153,0.0,0.0,91,7,97,10,1,1.0
mean,2024.631772,4.299048,3.962665,NaN,13.695827,39.449854,9.598097,6.299414,0.655878,165430.497804,...,2023-08-02 01:24:42.352941056,2023-08-04 09:15:17.647058944,NaN,NaN,2023-12-03 03:09:53.406593280,2023-12-07 17:08:34.285714176,2023-12-09 18:33:24.123711232,2023-08-08 09:36:00,2023-10-25 00:00:00,1.0
min,2021.000000,1.000000,1.000000,NaN,1.000000,1.000000,1.000000,0.000000,-1710.790000,4406.000000,...,2022-02-24 00:00:00,2022-02-28 00:00:00,NaN,NaN,2022-10-19 00:00:00,2022-10-19 00:00:00,2022-10-19 00:00:00,2022-10-19 00:00:00,2023-10-25 00:00:00,1.0
25%,2024.000000,4.000000,4.000000,NaN,4.000000,2.000000,12.000000,0.000000,0.000000,151008.750000,...,2023-02-15 00:00:00,2023-02-15 00:00:00,NaN,NaN,2023-09-19 12:00:00,2023-11-16 12:00:00,2023-10-18 00:00:00,2022-10-27 00:00:00,2023-10-25 00:00:00,1.0
50%,2025.000000,4.000000,4.000000,NaN,13.000000,7.000000,12.000000,0.000000,0.000000,181601.500000,...,2023-09-28 00:00:00,2023-10-12 00:00:00,NaN,NaN,2024-01-16 00:00:00,2024-03-28 00:00:00,2024-01-24 00:00:00,2023-11-20 00:00:00,2023-10-25 00:00:00,1.0
75%,2025.000000,4.000000,4.000000,NaN,21.000000,39.000000,12.000000,0.000000,0.000000,190387.250000,...,2024-02-28 00:00:00,2024-03-07 00:00:00,NaN,NaN,2024-03-25 00:00:00,2024-04-01 00:00:00,2024-03-25 00:00:00,2024-03-31 00:00:00,2023-10-25 00:00:00,1.0
max,2027.000000,12.000000,6.000000,NaN,31.000000,233.000000,12.000000,80.000000,4951.270000,513481.000000,...,2024-04-10 00:00:00,2024-04-18 00:00:00,NaN,NaN,2024-04-04 00:00:00,2024-04-01 00:00:00,2024-04-09 00:00:00,2024-04-01 00:00:00,2023-10-25 00:00:00,1.0
std,0.534275,1.984993,0.221668,NaN,8.835082,67.840774,4.457814,16.295368,103.935880,54131.456167,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [50]:
DATAMARSH1['COMISION COMPARTIDA'].describe() #Descripción de una sola columna del dataframe

count    2732.000000
mean        0.655878
std       103.935880
min     -1710.790000
25%         0.000000
50%         0.000000
75%         0.000000
max      4951.270000
Name: COMISION COMPARTIDA, dtype: float64

Guardar la media de una columna como variable

In [51]:
media_comision = DATAMARSH1['COMISION COMPARTIDA'].mean()

In [52]:
print(media_comision)

0.6558784773060033

SUBCONJUNTO

In [53]:
datasub = DATAMARSH1[['NUMERO_DE_POLIZA','DESDE','HASTA']] #se crea el nuevo dataframe datasub que es un subconjunto de tres columnas del dataframe DATAMARSH1

BORRAR UNA COLUMNA

In [54]:
datasub = datasub.drop(['DESDE'], axis=1)

RENOMBRAR UNA COLUMNA

In [55]:
datasub = datasub.rename(columns={'NUMERO_DE_POLIZA':'POLIZA'})

CREAR UNA NUEVA COLUMNA

In [56]:
datasub['VIGENCIA'] = 'ANUAL'

In [57]:
datasub['NUEVA_COLUMNA'] = 8*4

REEMPLAZAR VALORES DE UNA COLUMNA

In [58]:
datasub['POLIZA'] = datasub['POLIZA'].str.replace("'","")

ELIMINAR ALGUNA VARIABLE

In [ ]:
del datasub