In [37]:
import pandas as pd
import os

In [38]:
df = pd.read_excel('C:/OTMX/Inputs/2024-044/Other Files/EDC_QUALITAS.xlsx')

df = df.dropna(subset=['Unnamed: 8'])

df = df[df['Unnamed: 8'].str.strip() != ""]
df = df[df['Unnamed: 8'].str.strip() != "MONEDA NAL"]
df = df[df['Unnamed: 8'] != 0]

df.columns = df.iloc[1,]

df = df[df['AGENTE'].str.strip() != "AGENTE"]

#df['Unnamed: 8'] = df['Unnamed: 8'].str.strip()
#df = df[df['Unnamed: 8'].str.strip().notnull()]


#df

9,FECHA,POLIZA,ENDOSO,RECIBO,SERIE,REMESA,NIV,CVE,AGENTE,CATALOGO,CONCEPTO,IMPORTE,PORC.UDI,HON.,IVA_PAG,CARGO,ABONO
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENCIA NUM: 18803,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,2024-04-11 00:00:00,2661075048,0,247946008,2024-01-01 00:00:00,54786382,3MVDMCDL7RM678278,AHN,80540,,ALVAREZ GONZALEZ LUIS FELIPE,11514.98,0.22,2533.3,405.33,0,2938.63
13,2024-04-18 00:00:00,2700288274,0,203561527,2024-05-03 00:00:00,54917471,JM3KFADL9M0126999,AHN,80540,,MELO MORALES JOSE YAMIL,6941.37,0.22,1527.1,244.34,0,1771.44
14,2024-04-18 00:00:00,2700288313,0,203562193,2024-04-03 00:00:00,54917471,3MZBPCCL0MM211534,AHN,80540,,GUTIERREZ CASTILLO RICARDO F,11081.34,0.22,2437.89,390.06,0,2827.95
15,2024-04-18 00:00:00,2700288353,0,203562757,2024-05-03 00:00:00,54917471,3MVDMCDL4MM204717,AHN,80540,,CABRERA RAMIREZ EVA,6629.87,0.22,1458.57,233.37,0,1691.94
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11117,2024-04-11 00:00:00,2661074865,0,247873261,2024-01-01 00:00:00,54786382,JM1BPCML5R1713431,AHN,80540,,BOTELLO MUﾑOZ MARILU,14770.97,0.22,3249.61,519.94,0,3769.55
11118,2024-04-11 00:00:00,3200587556,0,247465163,2024-01-01 00:00:00,54786382,3MVDMDCY4RM672943,AHN,80540,,ALATORRE RODRIGUEZ RICARDO,11064.92,0.22,2434.28,389.48,0,2823.76
11119,2024-04-11 00:00:00,3200587583,0,247842474,2024-01-01 00:00:00,54786382,3MVDMCDL6RM658281,AHN,80540,,CALDERA ALONSO GERARDO,9293.51,0.22,2044.57,327.13,0,2371.7
11167,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,AGENCIA NUM: 20363,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11178,2024-04-11 00:00:00,2661074701,0,247806779,2024-04-01 00:00:00,54786382,JM1BM1U33G1293954,AHN,80541,,MARTINEZ RINCON OMAR,6385.99,0.22,1404.92,224.79,0,1629.71

In [39]:
df['AGENCIA'] = df['AGENTE'].where(df['AGENTE'].str.startswith('AGENCIA NUM:')).ffill()

In [40]:
df = df.dropna(subset=['POLIZA'])

In [41]:
df['AGENCIA'] = df['AGENCIA'].str.replace("AGENCIA NUM: ","")

C:\Users\u1165269\AppData\Local\Temp\ipykernel_49944\2679498607.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['AGENCIA'] = df['AGENCIA'].str.replace("AGENCIA NUM: ","")